.about {
  padding: 80px 50px;
  background: #f4f4f4;
  text-align: center;
}

.about h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  background-color: red;
}

.about p {
  font-size: 1.2rem;
  max-width: 800px;
  margin: auto;
  line-height: 1.6;
}
