.contact {
  padding: 80px 50px;
  background: #f4f4f4;
  text-align: left;
}

.contact h2 {
  font-size: 2.5rem;
  margin-bottom: 20px;
  background-color: green;
}

.contact-details {
  font-size: 1.3rem;
  line-height: 2.2rem;
  color: #333;
  background: white;
  padding: 30px;
  border-radius: 12px;
  display: inline-block;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}
