.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
  background: #000;
  color: #fff;
  position: sticky;
  top: 0;
  z-index: 100;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #ff4c60;
}

.nav-logo {
  font-size: 1.5rem;
  font-weight: bold;
}
